
// Scroller adds the class `DTS` to the DataTabes wrapper div
div.dts {
	display: block !important;

	tbody th,
	tbody td {
		white-space: nowrap;
	}

	// Show the loading message behind the table
	div.dts_loading {
		z-index: 1;
	}

	div.dts_label {
		position: absolute;
		right: 10px;
		background: rgba(0, 0, 0, 0.8);
		color: white;
		box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
		text-align: right;
		border-radius: 3px;
		padding: 0.4em;
		z-index: 2;
		display: none;
	}

	div.dataTables_scrollBody {
		background: repeating-linear-gradient(
			45deg,
			#edeeff,
			#edeeff 10px,
			white 10px,
			white 20px
		);

		table {
			z-index: 2;
		}
	}

	// Hide the paging control as it shouldn't be used with Scroller, but
	// paging must be enabled
	div.dataTables_paginate,
	div.dataTables_length {
		display: none;
	}
}
