@use 'defaults.scss';
@use 'shared.scss';

:root.dark {
	--dts-label_background: rgba(255, 255, 255, 0.8);
	--dts-label_color: black;

	--dts-scroll_background: repeating-linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.01),
		rgba(255, 255, 255, 0.01) 10px,
		rgba(255, 255, 255, 0) 10px,
		rgba(255, 255, 255, 0) 20px
	);

	--dts-table_background: var(--dt-html_background);
}
